.matronas-img-home{
    margin-top: 3rem;
    height: fit-content;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
    
.matronas-img-home img {
        width: 100%;
    }
    
@media (min-width: 1000px) {
    .matronas-img-home img {
            width: 70%;
    }
 }


.title-home{
    background-color: #f7cbcf;
    margin: 1rem 2rem;
    border-radius: 10px;
    padding: 6.5px 1px;

}

.om{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.text-home{
    margin-top: 3rem;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2rem 2rem;
    height: fit-content;
    text-align: center;
    /*padding: 2px 8px;*/
    background-color:  #ececec;
    border-radius: 15px;
}

.icons-container{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 15rem;
}

@media (max-width: 100z0px) {
    .icons-container img{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .icon img{
        width:50%;
    }
}

