.home-picture{
    margin-top: 3rem;
    border-radius: 25px;
    width: 10% !important;
    height: auto;
}

.title-home{
    background-color: #E4C0C1;
    margin: 1rem 2rem;
    border-radius: 25px;
    padding: 6.5px 1px;


}

.om{
    width: 2rem;
    height: 2rem;
}