.img-container-notFound {
    margin-top: 3rem;
    height: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-container-notFound img {
    width: 100%;
}

@media (min-width: 1000px) {
    .img-container-notFound img {
        width: 50%;
    }
}