.blog-container{
    margin: 3rem auto;
    padding: 6% 25%;
    border: 1px solid black;
    border-radius: 15px;
    background-size: 70%;
}
.blog-link{
    text-decoration: none;
    background-color: white;
    width: 9rem;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 12px;
    color:  #aabaab ;
    margin-bottom: 0.5rem;
}

@media (min-width: 1000px) {
    .blog-container  img {
        width: 70%;
    }
}
.blog-keyWords{
    background-color:#aab966 ;
    color: white;
    border-radius: 25px;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    padding: 0.5rem !important;

}
.blog-card-keyWords-span{
    background-color: white;
    color: #aab966; 
    padding: 1.5rem;
    line-height: 2.3rem;
    border-radius: 15px;
}