.textarea{
    height: 20rem !important;
}

.blog-create-btn{
    margin-left: -1rem;
}
.btn-add-keyword{
    margin-left: 1rem;
}
.margin-bottom{
    margin-bottom: 12rem !important;
}
@media (min-width: 1080px) {
    .new-post-body{
        width: 60rem !important;
    }
    .new-position{
        margin-top: -4.3rem !important;
        height: 2.5rem !important;
        width: 13rem !important;
        margin-left: -1rem
    }
    .btns-update{
        background-color:#f0715a !important;
        border: 1px solid  #cd4f40 !important;
        margin-top: 1.5rem;
        width: 20rem;
        height: 3rem;
    
    }
}