li{
 list-style: none;
}
.course-card-image{
    max-width: 100%;
    height: auto;
    max-height: 24rem;
    border-radius: 17px;
    margin: 2rem 0.5rem 0 0.5rem;
}
.btns-course{
    background-color: #f0715a  !important;
    border: 1px solid  #385a64 !important;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 6rem;
    height: 3rem;
    color:  #ececec !important
}
.course-container{
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #f8f9fa;
   
}
 
.courses-list-row{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: -0.5rem !important;
} 
.blog-list-link{
    text-decoration: none;
    background-color: white;
    width: 6rem;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 12px;
    color:  #aabaab ;
    margin-bottom: 1rem;
}

.course-container-keywords{
    border: 1px solid black;
    border-radius: 20px;
    margin: 1rem 1rem;
}
.blog-list-link-keywords{
    text-decoration: none;
    background-color: white;
    width: 8rem;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 12px;
    color:  #aabaab ;
    margin-bottom: 1rem;
}

@media (min-width: 1080px) {
    .courses-list-row{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100rem;
        gap: 9rem;
        margin: 5rem auto !important;
    }

    .course-container{
        width: 45%;
       
    }
}

@media (max-width: 1080px) {
    .course-card-column{
        display: flex;
        flex-direction: column;
        background-color: #cd4f40 ;
        border-radius: 15px;
        padding: 1rem;
        color: white;
        margin:  1rem 1rem 0 0.5rem !important;
        width: 21rem
    }
}