.adminsPhoto{
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.text-about-us{
    text-align: justify;
    padding: 2px 8px;
    background-color:  #ececec;
    padding: 2rem 2rem;
    border-radius: 15px;
    
}