.adminsPhoto{
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 3rem;
    margin-top: 5rem;
    width: 70%
    
}
.text-about-us{
    text-align: justify;
    padding: 2px 8px;
    background-color:  #ececec;
    padding: 2rem 2rem;
    border-radius: 15px;
    
}

@media (max-width: 1080px){
    .adminsPhoto{
        max-width: 100%;
        border-radius: 15px;
        margin-bottom: 3rem;
        margin-top: 4rem;
        width: 90%
        
    }
}