.card{
    margin: 1rem auto;
    max-width: 98% !important
    
}
.card-title{
    margin-top: 1rem;
}
.btn-card{
    background-color:#f0715a!important;
    border: 1px solid #cd4f40 !important;
    margin-bottom: 1rem;
    width: 20%;
    height: 3rem;
    color: #ececec!important;
    padding-top: 0.8rem !important ;
    
    
}

.card-img-top-pict{
    max-width: 70%;
    height: 23rem;
    margin: 2rem auto;
    border-radius: 15px;
}

@media (max-width: 1080px) {
    .btn-card{
        background-color:#f0715a!important;
        border: 1px solid #cd4f40 !important;
        margin-bottom: 1rem;
        width: 30%;
        height: 3rem;
        color: #ececec!important;
    }
}