.img-container-blogList-1 {
    margin-top: 3rem;
    height: fit-content;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-container-blogList-1 img {
    width: 50%;
}

/* @media (min-width: 1000px) {
    .img-container-blogList-1 img {
        width: 100%;
    }
} */
.post-text-container{
    text-align: justify;
    padding:  2rem 4rem;
    background-color:  #ececec;
    border-radius: 15px;
    margin: 2rem 1rem;
}


.blog-detail-title{
    margin: 2rem;
    color: #cd4f40;
}

.blog-KeyWord{
    background-color:#f0715a ;
    color: white;
    padding: 0 5px; 
    margin: 0 2px;
    border-radius: 8px;
    
}

@media (max-width: 1080px) {
    .img-container-blogList-1 {
        margin-top: 3rem;
        height: fit-content;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .post-text-container{
        text-align: justify;
        padding:  1rem;
        background-color:  #ececec;
        border-radius: 15px;
        margin: 2rem 1rem;
    }
    
}