.post-text{
    border: 1px, solid, black;
    border-radius: 2rem;
    background-color: #E4C0C1;
    color: white;
    margin: 2rem 1rem;
    padding: 3rem;
    max-width:60rem;
}

.imgBlog{
    width:90%;
    border-radius: 25px;
    height: auto;
    margin: 1rem 1rem !important;
    
    
}

.tag{
    background-color: greenyellow;
    border-radius: 3rem;
    width: 12rem;
    margin-bottom: 1rem;
}
.blog-detail-title{
    margin: 2rem;
}