.btnPassword{
    background-color: white;
    border: 1px, solid, rgb(250, 248, 248);
    border-radius: 25px;
    padding: 2px 1rem;
}
.userType{
    margin-top: 2rem;
    border: 1px solid rgb(234, 229, 229);
    border-radius: 8px;
    margin-left: 1rem;
    width: 308px;
    height: 2.5rem;
}
.userType-select{
    position: absolute;
    margin-top: -1.1rem;
    width: 308px;
    margin-left: -9.65rem;
    border: 1px solid rgb(234, 229, 229);
    border-radius: 0px 0px 8px 8px;
    padding: 2px;

}
.userType-p{
    text-align: start;
    margin-left: 5px;
    padding: 3px;
}

.password-row{
    display: flex;
    flex-direction: row;
}

.form-control-password{
    border: 1px solid rgb(200, 196, 196);
    border-radius: 8px 0px 0px 8px;
    width: 260px;
    padding: 5px 10px;
    font-size: 1rem;
    
}
.btn-eye{
    width: 3rem;
    height: 2.5rem;
    border: 1px solid rgb(200, 196, 196);
    border-radius: 0px 8px 8px 0px;
    background-color: white;


}
.eye{
    width: 2rem;
    height: 1.2rem;
    margin: 1px  ;
    margin-right: 5px;
}
.btn-form{
    background-color:  #f0715a!important; 
    border: 1px solid #385a64 !important;
    margin-top: 1rem;

}

.my-alert {
    text-align: left !important;
    width: 308px !important;
    font-size: 14px !important;
    padding-top: 5px !important;
    color: #ee3c3c !important;
    display: block;
    margin-left: 1rem;
}