.btns-admin {
  background-color:   #f0715a !important;
  border: 1px solid  #cd4f40 !important;
  margin-top: 1.5rem;
  width: 15rem;
  height: 3rem;
  color: #ececec !important;
  padding-top: 0.8rem !important;

  
  
}

.btn-log-out {
  border: 1px solid #223e45!important;
  background-color:#f8f9fa  !important;
  margin: 1rem auto !important;
  width: 15rem;
  height: 3rem;
  color: #223e45 !important;
  
  
  
}
.btn-profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-profile {
  margin: 3rem auto;
  background-color: #385a64 ;
  padding-top: 2rem;
  border-radius: 15px;
  width: 50% !important;
  height: 45rem !important;
}

.profile{
  color:white;
  margin-top: 1rem;
}
.logo-profile{
  width: 10rem;
  margin: 3rem auto;
  
}
@media (max-width: 1080px) {
  .container-profile{
    background-color: #385a64 ;
    padding-top: 2rem;
    border-radius: 15px;
    width: 80% !important;
    height: 45rem !important;
    margin: 2rem auto;
  }
  .logo-profile{
    width: 10rem;
    margin: 5rem auto;
  }
  .btn-log-out {
    border: 1px solid #223e45!important;
    background-color:#f8f9fa  !important;
    margin: 0 auto !important;
    width: 15rem;
    height: 3rem;
    color: #223e45 !important;
    
    
    
  }
}