.btns-admin {
  background-color: #aabaab !important;
  border: 1px solid #aab966 !important;
  margin-top: 1.5rem;
  width: 15rem;
  height: 3rem;
  
  
  
}

.btn-log-out {
  border: 1px solid #aab966 !important;
  background-color: #96778a !important;
  margin: 1.5rem auto !important;
  width: 15rem;
  height: 3rem;
  margin-bottom: 28rem !important;
  
  
}
.btn-profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  margin-top: 3rem;
}
