.searchDiv{
    display: flex;
    flex-direction: row;
    max-height: 2.5rem;
    margin-left: 1.5rem;
}

.home-icon{
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
}
 
.user-icon{
    width: 5rem; 
    position: absolute;
    right: 12rem;
}

.cart-icon{
    width: 5rem;
    position: absolute;
    right: 6rem;
}

.navbar-toggler-hamburguer-icon{
   position: absolute;
   right: 1.5rem;
   background-color:  #cd4f40 ;
   border: 6px solid #ececec;
   border-radius: 0.9rem;
   width: 4rem;
   height: 4rem;
   margin-top: 2px;
}

.navbar-toggler-icon{
    width: 2em;
    height: 2em;
    border:#ececec
}

.my-header{
    background-color:   #cd4f40 ;
    
    }

.btn-search{
    height: 2.4rem;
    margin-top: 0 !important;
    position: absolute;
    margin-left: 250px;
    background-color:  #ececec !important; 
    border: 1px solid  #273238  !important;
    border-radius: 0px 8px 8px 0px !important;
}

.search-nav{
    width: 250px !important;
    border-radius: 8px 0px 0px 8px !important;
}

.container-header{
    
    display: flex;
    flex-direction: row;
   
    
}