.searchDiv{
    display: flex;
    flex-direction: row;
    max-height: 2.5rem;
    margin-left: 1.5rem;
}

.home-icon{
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
    margin-top: -0.5rem;
}
 
.user-icon{
    width: 6rem; 
    position: absolute;
    right: 9.5rem;
    margin-top: 0.2rem;
}

.cart-icon{
    width: 11rem;
    position: absolute;
    right: 3rem;
    margin-top: -1.5rem;
    
}

.navbar-toggler-hamburguer-icon{
   position: absolute;
   right: 1.8rem;
   background-color: #f0715a;
   border: 6px solid #ececec;
   border-radius: 0.9rem;
   width: 3.7rem;
   height: 3.7rem;
   margin-top: 2px;
}

.navbar-toggler-icon{
    width: 2em;
    height: 2em;
    border:#ececec
}

.my-header{
    background-color:   #f0715a;
    
    }

.btn-search{
    height: 2.4rem;
    margin-top: 0 !important;
    position: absolute;
    margin-left: 250px;
    background-color:  #f0715a !important; 
    border: 1px solid #cd4f40  !important;
    border-radius: 0px 8px 8px 0px !important;
    color: #ececec !important
}

.search-nav{
    width: 250px !important;
    border-radius: 8px 0px 0px 8px !important;
}

.container-header{
    
    display: flex;
    flex-direction: row;
   
    
}

@media (max-width: 1080px) {
    .home-icon{
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
        }
     
    .user-icon{
        width: 3rem; 
        position: absolute;
        right: 5rem;
        margin-top: 0.2rem;
    }
    
    .cart-icon{
        width: 6rem;
        right: 1.5rem;
        margin-top: -0.8rem;   
    }
    .navbar-toggler-hamburguer-icon{
        position: absolute;
        right: 1rem;
        background-color: #f0715a;
        border: 3px solid #ececec;
        border-radius: 8px;
        width: 2rem;
        height: 2rem;
        margin-top: 2px;
    }
    .navbar-toggler-icon{
        width: 1.3rem !important;
        margin-top: -7px;
        margin-left: -3px
      
    }
     
}