.searchDiv{
    display: flex;
    flex-direction: row;
    max-height: 2.5rem;
    margin-left: 1.5rem;
}

.home-icon{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}
 
.user-icon{
    width: 3rem;
    height: 3rem;  
    position: absolute;
    right: 6rem;
}

.hamburguer-icon{
   position: absolute;
   right: 1.5rem;
   background-color:  #E4C0C1;
   border: 2px solid black;
   width: 2.5rem;
   height: 2.5rem;
   margin-top: 2px;
}

.my-header{
    background-color:  #E4C0C1 ;
    
    }

.btn-search{
    height: 2.4rem;
    margin-top: 0 !important;
    position: absolute;
    margin-left: 250px;
    background-color:  #AABAAB !important; 
    border: 1px solid #AAB966 !important;
    border-radius: 0px 8px 8px 0px !important;
}

.search-nav{
    width: 250px !important;
    border-radius: 8px 0px 0px 8px !important;
}

.container-header{
    
    display: flex;
    flex-direction: row;
   
    
}
.navbar-toggler-icon{
    margin-left: -0.6rem !important;
}