.admin-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 14rem;
   
}
.adminPhoto{
    border-radius: 20px;
    max-height: 45rem;
    
}

.text-admin{
    text-align: justify;
    padding: 2px 8px;
    background-color:  #ececec;
    padding: 2rem 2rem;
    border-radius: 15px;
    
   
    
}
.first-line-elena{
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 1080px) {
    .admin-container{
       display: flex;
       flex-direction: column;
       
    }
    .text-admin{
        text-align: justify;
        padding: 2px 8px;
        background-color:  #ececec;
        padding: 2rem 2rem;
        border-radius: 15px;
        margin-top: -3rem;
       
        
    }
}