.img-container-menarche {
    margin-top: 3rem;
    height: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-container-menarche img {
    width: 100%;
}

@media (min-width: 1000px) {
    .img-container-menarche img {
        width: 70%;
    }
}

.text-menarche{
    text-align: justify;
    padding: 2px 8px;
    background-color:  #ececec;
    padding: 2rem 2rem;
    border-radius: 15px;
    
}