.course-card-column{
    display: flex;
    flex-direction: column;
    background-color: #cd4f40 ;
    border-radius: 15px;
    padding: 1rem;
    color: white;
    margin:  1rem 0;
}
.course-card-row{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.course-card-row-s{
    display: flex;
    flex-direction: row;
    background-color: #1b2e36;
    border-radius: 15px;
    justify-self: end;
    margin-top: auto;
    justify-content: center;
}
.course-card-s{
    padding: 0.3rem;
    color: white;
    text-decoration: none;
}

.p-description{
    margin:3rem;
    text-align: center;
    background-color:  #ececec;
    border-radius: 15px;
    padding: 4rem 2rem ;
    
}

@media (min-width: 768px) {
    .course-card-row {
        flex-direction: row;
    }
}

