.course-card-column{
    display: flex;
    flex-direction: column;
    background-color: #cd4f40 ;
    border-radius: 15px;
    padding: 1rem;
    color: white;
    margin:  1rem 0 !important;
}
.course-card-row{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.course-card-row-s{
    display: flex;
    flex-direction: row;
    background-color: #1b2e36;
    border-radius: 15px;
    justify-self: end;
    margin-top: auto;
    justify-content: center;
}
.course-card-s{
    padding: 0.3rem;
    color: #ececec;;
    text-decoration: none;
}

.p-description{
    margin:3rem;
    text-align: center;
    background-color:  #ececec;
    border-radius: 15px;
    padding: 4rem 2rem ;
    
}

@media (min-width: 768px) {
    .course-card-row {
        flex-direction: row;
    }
}

@media (max-width: 1080px) {
    .courses-title{
        display: flex;
        flex-direction: column;
        background-color: #cd4f40 ;
        border-radius: 15px;
        color: #ececec;
        width: 18rem !important;
        margin-left: -1rem !important
        
        
    }
    .p-description{
        margin:3rem;
        text-align: center;
        background-color:  #ececec;
        border-radius: 15px;
        width: 125%;
        margin: 1rem 3rem 1rem -1.7rem;
        text-align: justify;
        
    }
    .course-card-row-s{
        display: flex;
        flex-direction: row;
        background-color: #1b2e36;
        border-radius: 15px;
        justify-self: end;
        justify-content: center;
        align-items: center;
    }
}