.textarea{
    height: 20rem !important;
    margin-top: 1rem;
}

.update-blog{
    width: 308px !important;
    

}

.btns-update {
    background-color:#f0715a !important;
    border: 1px solid  #cd4f40 !important;
    margin-top: 1.5rem;
    width: 20rem;
    height: 3rem;
    margin-left: 2rem;
}
.new-position{
    margin-left: 0;
}

.keyword-input{
    margin-left: 1rem;
}
.margin-bottom{
    margin-bottom: 12rem !important;
}
@media (min-width: 1080px) {
    .new-post-body{
        width: 60rem !important;
    }
    .new-position{
        margin-top: -4.3rem !important;
        height: 2.5rem !important;
        /* margin-left: 80rem !important; */
        

    }
    .btns-update{
        background-color:#f0715a !important;
        border: 1px solid  #cd4f40 !important;
        margin-top: 1.5rem;
        width: 20rem;
        height: 3rem;
        /* margin-left: -5rem !important; */
        
    
    }
}